body{
    background: #ccf url(img/fon.jpg) no-repeat center center;
    background-size: cover;
    padding: 67px 0 83px 0;
}

.wrapper{
    box-sizing: content-box;
    width: 480px;
    background-color: white;
    margin: auto;
    padding: 40px 40px;
}

h2{
    font-size: 23pt;
    font-family: Pathway Gothic One, sans-serif;
    color: #263555;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #263555;
    font-weight: 600;
    font-stretch: semi-condensed;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #4e5050;
    font-weight: 500;
    font-stretch: condensed;
}

img{
    height: 100px;
    width: 100%;
}

.agency{
    padding-bottom: 33px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.h3first{
    margin-top: 28px;
    margin-bottom: 21px;
}

.block1{
    margin-bottom: 53px;
}

.block2{
    margin-right: 74px;
}

.our{
    margin-bottom: 28px;
}

.line{
    background-color: #dedbdb;
    height: 1px;
    margin-top: 54px;
    margin-bottom: 53px;
}

li{
    list-style-type:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #263555;
    font-weight: 600;
    font-stretch: semi-condensed;
    line-height: 2;
}

.block3, .block4{
    display: inline-block;
    padding: 0px;
    margin-top: 24px;
}

.block4{
    vertical-align: top;
}
